VITE_APP_SUPABASE_URL=https://znvkkzhgaxaoxpxsrnob.supabase.co
VITE_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpudmtremhnYXhhb3hweHNybm9iIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODc4MjY1NDMsImV4cCI6MjAwMzQwMjU0M30.l8yS9x6sp0QBUKIr2oEZTQD2oyv2mRSSECR9Q4BO0TY
