VITE_APP_SUPABASE_URL=https://clihcgfppilbokppwbcb.supabase.co
VITE_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNsaWhjZ2ZwcGlsYm9rcHB3YmNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTc5MDc4ODEsImV4cCI6MjAxMzQ4Mzg4MX0.WZMDEi04tXY_mnj0HrS3e5Ie_BwbId2iSfBC9n44uYM
